@font-face {
  font-family: "Graffiti";
  src: url("/assets/fonts/adrip1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-graffiti: swap;
}

@font-face {
  font-family: "Street";
  src: url("/assets/fonts/beatstreet.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-graffiti: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/assets/fonts/InstrumentSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-graffiti: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/assets/fonts/InstrumentSerif-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-graffiti: swap;
}
