.logo {
  display: flex;
  font-family: "Caveat", cursive;
  align-items: center;
}

.logo__icon {
  height: 48px;
}

.logo__text {
  font-size: var(--font-size-heading-lg);
  letter-spacing: -2px;
}
