.logo {
  display: flex;
  font-family: "Caveat", cursive;
  align-items: center;
}

.logo__icon {
  height: 32px;
}

.logo__text {
  font-size: var(--font-size-heading-md);
  letter-spacing: -2px;
}


@media(max-width: 1024px){
  .logo__text{
    font-size: 1.75rem;
  }
}
