.buttonBase{
  position: relative;
  background: transparent;
  text-decoration: none;
  font-family: var(--font-family-tertiary);
  cursor: pointer;
  font-size: .875rem;
  letter-spacing: .0625rem;
}

.scribble{
  padding: 0;
  border: 0;
  color: var(--popover);

  & svg{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    & path{
      stroke: var(--foreground);
      --end: 1.025;
      stroke-dasharray: var(--end);
      stroke-dashoffset: var(--end);
      animation: draw calc(var(--path-speed) * 1s) calc(var(--path-delay, 0) * 1s) ease-in forwards;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
