#education {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 24px 300px 24px;
  margin-top: -67px;
}

.education__description{
  margin-top: 2px;
  line-height: 32px;
}

@media (max-width: 1023px) {
  #education {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.education__content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.education__header {
  margin-bottom: 24px;
}

.education__paper-wrapper {
  position: absolute;
  margin-top: 32px;
  right: -32px;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.education__paper {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
}

.education__clip {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 64px;
  height: auto;
  transform: rotate(-10deg);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
}

.education__paper-content {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 10%;
  padding: 52px 16px 32px 24px;
  display: flex;
  flex-direction: column;
  transform: rotate(-2deg);
}

.education__degree {
  font-family: "Caveat", cursive;
  line-height: var(--line-height-snug);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  text-wrap: balance;
  letter-spacing: -1px;
  color: #2c3e50;
  word-break: break-word;
}

.education__line {
  font-family: "Gloria Hallelujah", cursive;
  line-height: var(--line-height-snug);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-bold);
  text-wrap: balance;
  word-break: break-word;
}

.education__link {
  color: #1e63b6;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .education__clip {
    display: none;
  }

  .education__header {
    margin-bottom: 0px;
  }

  .education__title{
    margin-top: 13px;
  }
  .education__description {
    margin-top: 3px;
  }

  .education__paper-wrapper {
    left: 0;
    right: auto;
  }

  .education__paper {
    transform-origin: left center;
  }

  .education__paper-content {
    transform: none;
  }

  .education__paper-wrapper::before,
  .education__paper-wrapper::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 70px;
    background-image: url("../../../assets/tape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  .education__paper-wrapper::before {
    top: 15px;
    left: -25px;
    transform: rotate(-8deg);
  }

  .education__paper-wrapper::after {
    bottom: -20px;
    right: -25px;
    transform: rotate(6deg);
  }
}
