
.wrapper{
  padding: calc(1.5rem / 2);
  padding-bottom: 0;
  position: relative;

  & > div {
    padding: 0;
    margin: 0;
  }
}


.container{
  font-family: var(--font-family-tertiary);
  padding: 0 var(--half-gap);
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  color: var(--primary-foreground);

  & p {
    color: var(--primary);
  }

  & .root{
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    border: 0;
  }

  & .component{
    transform: translateX(8px);
  }
}

.root :is(.srOnly){
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.buttonContainer {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.theme_toggle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background 0.2s;
  justify-content: center;
  cursor: pointer;
}

.icon{
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.6s ease-in-out;
}

#sun{
  transform: translateY(500%);
}

#moon {
  transform: translateY(0);
}

.clicked #sun {
  transform: translateY(0);
}

.clicked #moon {
  transform: translateY(500%);
}

@media (min-width: 1150px) {
  .wrapper {
    padding: 0;
  }

  .skeletonTitle{
    display: none;
  }

  .container {
    & p {
      display: none;
    }

    & .component {
      transform: translateX(0px);
    }
  }
}
