.wrapper {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.theme_toggle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background 0.2s;
  justify-content: center;
  cursor: pointer;
}

.icon{
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.6s ease-in-out;
}

#sun{
  transform: translateY(500%);
}

#moon {
  transform: translateY(0);
}

.clicked #sun {
  transform: translateY(0);
}

.clicked #moon {
  transform: translateY(500%);
}
