.btnBase {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: var(--font-family-tertiary);
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: none;
  transform: translateZ(0);
}

.primary {
  height: 2rem;
  width: fit-content;
  border-radius: 1.25rem;
  color: var(--primary);
  box-shadow: 0 0 0 1px var(--muted-foreground);
  line-height: 1rem;
  padding: 1rem 1.25rem;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &:hover {
    color: var(--primary-foreground);
    background: var(--primary);
  }
}

.secondary {
  height: 2rem;
  width: fit-content;
  border-radius: 1.25rem;
  color: var(--white);
  background: var(--quaternary-foreground);
  box-shadow: 0 0 0.725rem var(--quaternary-foreground);
  line-height: 1rem;
  padding: 1rem 1.25rem;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &:hover {
    color: var(--primary-foreground);
    background: var(--primary);
    box-shadow: 0 0 0.725rem var(--primary);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
