.btn:not(.btnShape) {
  padding: 1rem 1.5rem;
  height: 2rem;
}

.btn {
  border-radius: 1.25rem;
  font-family: var(--font-family-tertiary);
  color: var(--primary);
  box-shadow: 0 0 0 1px var(--muted-foreground);
  cursor: pointer;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease;
  line-height: 1rem;
  height: 2rem;

  &:hover{
    color: var(--primary-foreground);
    background: var(--primary);
  }
}

.btn {
  --x-padding: 10px;
  display: flex;
}

.btnBase {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: none;
  transform: translateZ(0);
}

.resetBtn {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.textWrapper{
  font-family: var(--font-family-default);
  margin: 0;
  color: var(--primary);
  font-size: .875rem;
  font-weight: 400;
  text-transform: inherit;
  text-align: inherit;
}

