.buttonBase{
  position: relative;
  background: transparent;
  text-decoration: none;
  font-family: var(--font-family-tertiary);
  cursor: pointer;
  font-weight: 800;
  font-size: .875rem;
  letter-spacing: .0625rem;
}

.primary{
  background-color: var(--tertiary);
  color: var(--primary);
  border-radius: var(--drawn-border);
  border: 2px solid var(--primary)
}
