.containerButton {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  appearance: button;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.25rem 1.25rem;
  border-radius: 99rem;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  min-width: 7.2606rem;


  &:disabled {
    cursor: default;
  }

  &:-moz-focusring {
    outline: auto;
  }

  & [hidden] {
    display: none;
  }
}

.primaryButton {
  font-family: var(--font-family-tertiary);
  --bg: radial-gradient(40% 50% at center 100%, hsl(268, 76%, 49%), transparent),
    radial-gradient(80% 100% at center 120%, hsl(268, 76%, 49%), transparent),
    hsl(268, 76%, 56%);
  background: var(--bg);
  box-shadow: 0 0 3em 0.1em hsl(268 76% 49% / 0.75);
  transition: all 0.5s;

  &:active {
    scale: 1;
  }

  &:hover {
    box-shadow:
      0 0 3em 0.5em hsl(268 76% 49% / 0.75),
      0 0.05em 0 0 hsl(260 97% 80%) inset,
      0 -0.05em 0 0 hsl(260 97% 60%) inset;
  }

  &:before {
    content: "";
    position: absolute;
    inset: -0.25em;
    z-index: -1;
    border: 0.25em solid hsl(260 97% 50% / 0.5);
    border-radius: 6.25rem;
    opacity: 1;
    transition: opacity 2.5s;
  }
}

.secondaryButton {
  font-family: var(--font-family-default);
  background-color: #000;
  border: 2px solid #fff;
  background-image: none;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  mask-image: radial-gradient(#000, #fff);

  &:hover {
    transform: scale(1.1);
  }

  & span {
    font-weight: 700;
    mix-blend-mode: difference;
  }

  &::before {
    aspect-ratio: 1;
    background: #fff;
    border-radius: 99rem;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s;
    width: 0;
    height: 0;
  }

  &:hover:before {
    width: 95%;
    height: 85%;
  }
}
