.wrapperLanguageSwitcher{
  &>div{
    padding: 0;
    margin: 0;
  }
}

.mobileLanguageSwitcher{
  font-family: var(--font-family-tertiary);
  transition: var(--transition);
  color: var(--primary-foreground);

  & p {
    font-weight: 400;
  }

  & .languageSwitcherRoot{
    display: flex;
    box-shadow: 0 0 0 1px var(--muted-foreground);
    border-radius: 9999px;
    height: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    border: 0;
    align-items: center;
  }
}

.languageSwitcherRoot :is(.srOnly){
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


.languageSwitcherRoot input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
}

.languageSwitcherRoot input:checked ~ label {
  box-shadow: 0 0 0 2px var(--secondary-foreground);
  color:  var(--secondary-foreground);
  background: transparent;
  font-weight: 900;
}

.languageSwitcherRoot label {
  display: flex;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  background: none;
  height: 2rem;
  padding: 0 .75rem;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background .1s ease;
}
