#hero{
  margin-top: 34px;
}
.hero__content {
  display: grid;
  grid-template-rows: 1fr 300px auto;
  gap: 1rem;
}

.hero__greeting {
  margin-top: -2px;
}

.hero__title {
  margin-top: -5px;
  line-height: 32px;
  letter-spacing: 0px;
}

.hero__subtitle {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: anywhere;
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(255, 230, 0, 0) 0.9%,
      rgba(255, 230, 0, 1) 2.4%,
      rgba(255, 230, 0, 0.35) 5.8%,
      rgba(255, 230, 0, 0.2) 93%,
      rgba(255, 230, 0, 0.75) 96%,
      rgba(255, 230, 0, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 230, 0, 0) 0%,
      rgba(255, 230, 0, 0.4) 7.9%,
      rgba(255, 230, 0, 0) 15%
    );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 12px 20px 8px 3px;
  margin-top: 29px;
  border-radius: 7.5px;
  background-repeat: no-repeat;
  background-position: 0 10px, 0 0;
  background-size: 100% 60%, 100% 100%;
  font-size: var(--font-size-heading-xs);
  line-height: var(--line-height-snug);
  font-weight: var(--font-weight-medium);
}

.hero__image {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  justify-self: center;
}

.hero__quote p {
  align-self: self-start;
  justify-self: flex-start;
  margin-top: 20px;
  line-height: 32px;
}

.hero__quote-author {
  font-weight: bold;
}

.hero__cta {
  font-family: "Caveat", cursive;
  font-weight: bold;
  margin-top: 25px;


}

@media (min-width: 1024px) {
  #hero{
    margin-top: 52px;
  }

  .hero__greeting {
    margin-top: -5px;
  }


  .hero__title {
    margin-top: -5px;
    line-height: 32px;
    letter-spacing: 0px;
  }


  .hero__subtitle {
    margin-top: 26px;
  }


  .hero__content {
    grid-template-columns: 360px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 0px 40px;
  }

  .hero__content > div:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }

  .hero__image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 520px;
    object-fit: contain;
    justify-self: end;
  }

  .hero__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .hero__image {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 100%;
    justify-self: center;
  }


  .hero__quote p {
    align-self: self-start;
    justify-self: flex-start;
    margin-top: 6px;
    line-height: 32px;
  }


  .hero__cta {
    margin-top: 12px;
    align-self: start;
  }
}
