.wrapper {
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.theme_toggle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background 0.2s;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--drawn-border);
}

.icon{
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.6s ease-in-out;
}

#sun{
  transform: translateY(500%);
}

#moon {
  transform: translateY(0);
}

.clicked #sun {
  transform: translateY(0);
}

.clicked #moon {
  transform: translateY(500%);
}

.theme_toggle[aria-checked="false"]{
  border:solid 2px hsl(240, 5.9%, 90%);
}


.theme_toggle[aria-checked="true"]{
  border:solid 2px hsl(240, 3.7%, 15.9%);
}
