.wrapper {
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.theme_toggle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background 0.2s;
  justify-content: center;
  cursor: pointer;
  border-radius: 2.5rem .9375rem 7.5rem .9375rem/.9375rem 7.5rem .9375rem 2.5rem;
}

.icon{
  position: absolute;
  height: .9375rem;
  width: .9375rem;
  background-color: rgba(var(--gold),0.4);
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.6s ease-in-out;
}

#sun{
  box-shadow:
    0 0 1px 1px  rgba(var(--gold), 0.1),
    0 0 2px 2px rgba(var(--gold), 0.5);
    /* border-radius: 2.5rem .9375rem 7.5rem .9375rem/.9375rem 7.5rem .9375rem 2.5rem; */
  transform: translateY(500%);
}

#moon {
  position: relative;
  background: transparent;
  transform: translateY(0);
  &::after {
    cursor: pointer;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow:
      3px -3px 0.6px var(--white) inset,
      3px -3px 3px rgba(var(--night), 0.5) inset,
      3px -3px 4px rgba(var(--night), 0.2) inset,
      0 0 5px 7px rgba(var(--night), 0.1);
  }
}

.clicked #sun {
  transform: translateY(0);
}

.clicked #moon {
  transform: translateY(500%);
}

.theme_toggle[aria-checked="false"]{
  border:solid 2px hsl(240, 5.9%, 90%);
}


.theme_toggle[aria-checked="true"]{
  border:solid 2px hsl(240, 3.7%, 15.9%);
}
