.myPhoto {
  width: 18.75rem;
  height: 18.75rem;
  background-color: var(--black);
  box-shadow: calc(0.25rem / 2) calc(0.25rem / 2) calc(0.25rem / 2)
    var(--quaternary-foreground);
  border-radius: 50%;
  fill: var(--white);
  display: flex;
  overflow: hidden;
  position: relative;

  & svg {
    position: absolute;
    height: 90%;
    width: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

@media screen and (max-width: 1150px) {
  .myPhoto {
    width: 17.5rem;
    height: 17.5rem;
  }
}

@media screen and (min-width: 961px) {
  .wrapper {
    --cell-padding: 32px;
  }

  .textWrapper {
    line-height: normal;
  }
}

@media screen and (max-width: 768px) {
  .myPhoto {
    max-width: 2rem;
    max-height: 2rem;
  }
}
