@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Gloria+Hallelujah&family=Satisfy&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --primary: hsl(240, 5.9%, 10%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --tertiary: #923ff2;
  --tertiary-foreground: #440c81;
  --quaternary-foreground: #781edc;
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 3.8%, 46.1%);
  --accent: hsl(240, 4.8%, 95.9%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 72.22%, 50.59%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5%, 64.9%);

  --font-family-default: "Space Grotesk", sans-serif, "SF Pro Text",
    "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif,
    system-ui;
  --font-family-secondary: "Satisfy", cursive, sans-serif, "SF Pro Text",
    "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif,
    system-ui;
  --font-family-tertiary: "Gloria Hallelujah", cursive, sans-serif,
    "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif, system-ui;
  --font-family-quaternary: "Beth Ellen", cursive, sans-serif, "SF Pro Text",
    "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif,
    system-ui;

  --radius: 0.5rem;
  --gold: 255, 215, 0;
  --night: 0, 0, 255;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --drawn-border: 2.5rem 0.9375rem 7.5rem 0.9375rem/.9375rem 7.5rem 0.9375rem
    2.5rem;

  --half-gap: calc(1.5rem / 2) --transition: background 0.1s ease,
    color 0.1s ease, box-shadow 0.2s ease;

  /* Shadow */
  --shadowSmall: 0 2px 4px rgba(10, 13, 12, 0.1);
  --shadowMedium: 0 4px 6px rgba(10, 13, 12, 0.1);
  --shadowLarge: 0 8px 12px rgba(10, 13, 12, 0.1);

  /* Spacing */
  --tiny: 0.5rem;
  --xsmall: 0.75rem; /* Equivalente a 12px */
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --xlarge: 3rem;
  --huge: 4rem;
  --massive: 5rem;
  --gigantic: 6rem;
  --stack-flex: initial;
  --stack-direction: column;
  --stack-align: stretch;
  --stack-justify: flex-start;
  --sm-stack-padding: 16px 0px;
  --md-stack-padding: 32px 0px;
  --lg-stack-padding: 90px 0px;
  --xl-stack-padding: 90px 0px;
  --stack-gap: 0px;
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(240, 10%, 3.9%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(240, 10%, 3.9%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 98%);
  --primary-foreground: hsl(240, 5.9%, 10%);
  --secondary: hsl(240, 3.7%, 15.9%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --tertiary: #440c81;
  --tertiary-foreground: #923ff2;

  --muted: hsl(240, 3.7%, 15.9%);
  --muted-foreground: hsl(240, 5%, 64.9%);
  --accent: hsl(240, 3.7%, 15.9%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(0, 85.7%, 97.3%);
  --border: hsl(240, 3.7%, 15.9%);
  --input: hsl(240, 3.7%, 15.9%);
  --ring: hsl(240, 4.9%, 83.9%);
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: var(--font-family-default);
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100vw;
  overflow-x: clip;
  color: var(--foreground);
  font-synthesis: weight none;
  text-rendering: optimizeLegibility;
  margin: 0;

  &::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    background:
      linear-gradient(90deg, var(--ring) 2px, transparent 2px 2.5rem) 50% 50% /
        2.5rem 2.5rem,
      linear-gradient(var(--ring) 2px, transparent 2px 2.5rem) 50% 50% / 2.5rem
        2.5rem;
    mask: linear-gradient(-25deg, transparent 65%, var(--ring));
    top: 0;
    left: 0;
    transform-style: flat;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1.5rem;
}

body::-webkit-scrollbar {
  width: 8px;
  background: var(--white);
}

body::-webkit-scrollbar-track {
  background: var(--muted);
}

body::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 0.75rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.step {
  counter-increment: step;
}

.step:before {
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--muted);
  border-radius: 9999px;
  font-family: var(--font-family-tertiary);
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-indent: -1px;
  border-width: 4px;
  border-color: var(--background);
  margin-left: -50px;
  margin-top: -4px;
  content: counter(step);
}

.chunk-container {
  box-shadow: none;
}

.chunk-container::after {
  content: "";
  position: absolute;
  inset: -1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border-width: 1px;
}

.icon-theme-color {
  fill: var(--primary);
}

@media screen and (max-width: 1150px) {
  .btn[data-button] {
    color: var(--primary-foreground);
    background-color: var(--primary);
    box-shadow: none;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


