@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Patrick+Hand&family=Patrick+Hand+SC&family=Gloria+Hallelujah&family=Reenie+Beanie&display=swap");

:root {
  --menu-size: 100px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Gloria Hallelujah", cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

p{
  font-family: "Caveat", cursive;
  font-size: 1rem;
  line-height: 26px;
  margin: 0;
  padding: 0;
}


h1{
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}


h2{
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding: 0;
  margin: 0;
}

h3{
  font-weight: normal;
  font-size: 2.375rem;
  line-height: 43px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}