.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &:hover{
    text-decoration: none;
  }

  &:focus{
    text-decoration: none;
  }
}

.brand-name{
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-title-2);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1.5px;
}