#header {
  display: flex;
  align-items: center;
  margin: 26px 0;
}

.header__logo {
  flex: 1;
}

.header__menu {
  flex-shrink: 0;
}

.header__nav {
  display: none;
}

@media (min-width: 1024px) {
  #header {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__nav {
    display: block;
  }

  .header__menu {
    display: none;
  }
}
