#header {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.header__logo {
  flex: 1;
  padding-top: 3px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.header__menu {
  flex-shrink: 0;
}

.header__nav {
  display: none;
  justify-content: center;
}

@media (min-width: 1024px) {
  #header {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__actions {
    padding-top: 6px;

  }

  .header__nav {
    display: block;
    padding-top: 6px;
    padding-right: 24px;
  }

  .header__menu {
    display: none;
  }
}
