.navigationList{
  display: flex; 
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  color: color-mix(in lch, canvasText 80%, canvas);
  transition: color 0.2s;
  touch-action: none;
}

.navigationItem{
	font-weight: 400;
}

.navigationItem .navigationLink {
  display: inline-block;
  padding: 0.25rem 1.25rem;
  color: currentColor;
  text-decoration: none;
}

.navigationLink {
  font-family: var(--font-family-default);
  font-size: .875rem;
  font-weight: 300;
  font-weight: var(--font-weight-light);
  padding: 0.25rem 1rem;
  color: #ffffffbb;

  &:hover{
    background: #ffffff3f;
    color: #ffffff;
    border-radius: 2rem;
    text-decoration: none;
  }

  &:focus{
    text-decoration: none;
  }
}


