@import 'tailwindcss';
@import './styles/_reset.css';
@import './styles/_variables.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

html,
body {
  font-family: var(--font-cabinet-grotesk), Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .animate-appear {
    animation: appear 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
