#education {
  position: relative;
  margin: 0 -24px;
  padding: 0 24px 340px 24px;
}

.education__content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.education__header {
  margin-bottom: 24px;
}

.education__paper-wrapper {
  position: absolute;
  right: 0;
  margin-top: 36px;
  display: inline-block;
}

.education__paper {
  display: block;
  width: 90%;
  height: auto;
  margin-left: auto;
}

.education__clip {
  position: absolute;
  right: 0;
  top: 50%;
  width: 64px;
  height: auto;
  transform: translate(-50%, -50%);
  transform: rotate(-10deg);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
}

.education__paper-content {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 52px 0px 32px 36px;
  display: flex;
  flex-direction: column;
  transform: rotate(-2deg);
}

.education__degree {
  font-family: "Caveat", cursive;
  line-height: var(--line-height-snug);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  text-wrap: nowrap;
  letter-spacing: -1px;
  color: #2c3e50;
}

.education__line {
  font-family: "Gloria Hallelujah", cursive;
  line-height: var(--line-height-snug);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-bold);
  text-wrap: nowrap;
}

.education__link {
  color: #1e63b6;
  text-decoration: underline;
}

@media (min-width: 768px) {
  #education {
    padding-bottom: 420px;
  }
}
