@import "./base/_reset.css";
@import "./base/_variables.css";
@import "./base/_typography.css";

@import "./layout/_container.css";

@import "./components/_header.css";
@import "./components/_menu.css";
@import "./components/_hero.css";
@import "./components/_skills.css";
@import "./components/_experience.css";

@import "./components/_education.css";
@import "./components/_footer.css";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  font-family: var(--font-body);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-street);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-wide);
}

h1 {
  font-size: var(--text-7xl);
}
h2 {
  font-size: var(--text-5xl);
}
h3 {
  font-size: var(--text-4xl);
}

/* Body text */
p {
  font-family: var(--font-body);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
}

/* Links */
a {
  color: var(--color-graffiti);
  transition: var(--transition-fast);
}

a:hover {
  opacity: 0.8;
}
