.navFirst {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navFirst > div:first-of-type {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.avatar {
  display: none;
}

@media screen and (max-width: 1150px) {
  .navFirst {
    min-height: 4rem;
  }
  .avatar {
    display: flex;
  }

  .navFirst > div:first-of-type {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
