.container {
  width: fit-content;
}

.container > .glyphEffect {
  position: relative;
  color: transparent;
}


.container > .glyphEffect::after {
  content: attr(data-char);
  position: absolute;
  display: inline-block;
  inset: 0;
  color: canvasText;
  animation: hoverFlash 0.5s calc(var(--index, 0) * 0.05s)
  steps(1, end) forwards;
}


@keyframes hoverFlash {
  0%{
    content: "|";
  }
  10% {
    content: "_";
  }
  30% {
    content: var(--char-1);
  }
  60% {
    content: var(--char-2);
  }
  80% {
    content: var(--char-3);
  }
}
