.wrapper {
  --shadow-small: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
  --stack-padding: 2rem 0;
  overflow: hidden;
  height: 300vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: initial;
  gap: var(--stack-gap, 0);
  padding: var(--stack-padding, 0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  --min-width: 250px;
  --max-width: 1024px;
  --guide-width: 1px;
  --horizontal-margin: 2rem;
  --grid-system-width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin-top: var(--guide-width);
  margin-left: var(--guide-width);
}

@media screen and (min-width: 1201px) {
  .wrapper {
    --stack-padding: 2rem 0;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .content {
    --max-width: 768px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    --stack-padding: 1rem 0;
    --stack-gap: 0px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    --horizontal-margin: 1rem;
  }
}
