.hero__content{
  display: grid;
  grid-template-rows: auto 300px auto;
  gap: 1rem;
}

.hero__greeting{
  margin-top: -3px;
}

.hero__title{
  margin-top: -4px;
  line-height: 32px;
}


.hero__subtitle {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: anywhere;
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(255, 230, 0, 0) 0.9%,
      rgba(255, 230, 0, 1) 2.4%,
      rgba(255, 230, 0, 0.85) 5.8%,
      rgba(255, 230, 0, 0.2) 93%,
      rgba(255, 230, 0, 0.9) 96%,
      rgba(255, 230, 0, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 230, 0, 0) 0%,
      rgba(255, 230, 0, 0.4) 7.9%,
      rgba(255, 230, 0, 0) 15%
    );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 12px 20px 8px 3px;
  margin-top: -6px;
  border-radius: 7.5px;
  background-repeat: no-repeat;
  background-position: 0 10px, 0 0;
  background-size: 100% 60%, 100% 100%;
}

.hero__image{
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  justify-self: center;
}

.hero__quote p {
  margin-top: 17px;

}

.hero__quote-author{
  margin-top: 3px;
  font-weight: bold;
}

.hero__cta {
  font-family: "Caveat", cursive;
  margin-top: 26px;
  font-weight: bold;
}
