#about {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 64px;
}


#about h1 {
  margin-top: 8px;
  line-height: 64px;
  letter-spacing: -1px;
  font-size: 48px;
}


#about h2 {
  width: 90%;
  line-height: 27px;
  font-size: 20px;
  margin-top: 29px;
}

#about h2 span {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(255, 230, 0, 0) 0.9%,
      rgba(255, 230, 0, 1) 2.4%,
      rgba(255, 230, 0, 0.85) 5.8%,
      rgba(255, 230, 0, 0.2) 93%,
      rgba(255, 230, 0, 0.9) 96%,
      rgba(255, 230, 0, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 230, 0, 0) 0%,
      rgba(255, 230, 0, 0.4) 7.9%,
      rgba(255, 230, 0, 0) 15%
    );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding-right: 20px;
  margin: 0;
  border-radius: 7.5px;
  background-repeat: no-repeat;
  background-position: 0 10px, 0 0;
  background-size: 100% 60%, 100% 100%;
}

.description {
  position: relative;
  margin-top: 36px;
  line-height: 32px;
  font-size: 1rem;
}

.hero_cta {
  margin-top: 24px;
  
}

@media (min-width: 1024px) {
  #about {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    justify-content: center;
    max-width: 1440px;
    gap: 64px;
  }


  #about .hero__me {
    width: 400px;
  }

  .description {
    font-size: 20px;
  }
}
