.app {
  padding: 0 24px;
}

.app__main {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.app_second-page {
  position: relative;
  background: #f5f5f5;
  background-size: 100% 2rem;
  background-image: linear-gradient(#e5e5e5 0.05em, transparent 0.05em);
  margin: 0 -24px;
  padding: 0 24px 0px 24px;
}

@media (min-width: 768px) {
  .app_second-page {
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #9cbdc4 79px,
        #9cbdc4 81px,
        transparent 81px
      ),
      linear-gradient(#e5e5e5 0.05em, transparent 0.05em);
  }
}

.app__torn-paper {
  position: relative;
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-top: -50px;
  overflow: visible;
}

.app__torn-edge {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.app__torn-paper::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 2rem;
  background-image: linear-gradient(#eee 0.05em, transparent 0.05em);
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .app__torn-paper::after {
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      linear-gradient(#eee 0.05em, transparent 0.05em);
  }
}
