.app {
  padding: 0 24px;
  overflow-x: hidden;
}

.app__main {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.app__second-page {
  position: relative;
  background: #f1f1f1;
  background-size: 100% 2rem;
  background-image: linear-gradient(#e5e5e5 0.05em, transparent 0.05em);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  margin-left: -24px;
  margin-right: -24px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (min-width: 1278px) {

  .app__main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .app__second-page__inner {
    max-width: 1024px;
  }
}

.app__second-page__inner {
  margin: 0 auto;
  width: 98%;
  padding: 0 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
