:root {
  --menu-size: 100px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin: 0 auto;
  width: 90%;
  margin-top: 5px;
}


@media (min-width: 768px){
  .container{
    padding: 0px 0px 0px 92px ;
  }
}