body {
  font-family: "Gloria Hallelujah", cursive;
  color: #797979;
  background: white;
  background-size: 100% 2rem;
  background-image: -webkit-linear-gradient(#eee 0.05em, transparent 0.05em);
  background-image: -moz-linear-gradient(#eee 0.05em, transparent 0.05em);
  background-image: linear-gradient(#eee 0.05em, transparent 0.05em);
}


@media (min-width: 768px) {
  body {
    background-image: -webkit-linear-gradient(
        0deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      -webkit-linear-gradient(#eee 0.05em, transparent 0.05em);
    background-image: -moz-linear-gradient(
        0deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      -moz-linear-gradient(#eee 0.05em, transparent 0.05em);
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      linear-gradient(#eee 0.05em, transparent 0.05em);
  }
}
