body {
  color: #979797;
  background: white;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 77px;
  width: 2px;
  height: 100%;
  background: #abced4;
  z-index: 9999;
  pointer-events: none;
  display: none;
}

@media (min-width: 0px) {
  body {
    background-size: 100% 2rem;
    background-image: linear-gradient(#eee 0.05em, transparent 0.05em);
  }
}

@media (min-width: 1278px) {
  body {
    background-image: linear-gradient(#eee 0.05em, transparent 0.05em);
  }

  body::before {
    display: block;
  }
}
